@model IdentityEntity

@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
}

<div class="btn-group mx-3">
    @Html.ActionLink("Edit", "Edit", controller, new
    {
        id = Model.Id
    }, htmlAttributes: new
    {
        @class = "btn btn-warning btn-sm"
    })

    @Html.ActionLink("Details", "Details", controller, new
    {
        id = Model.Id
    }, htmlAttributes: new
    {
        @class = "btn btn-info btn-sm"
    })

    @Html.ActionLink("Delete", "Delete", controller, new
    {
        id = Model.Id
    }, htmlAttributes: new
    {
        @class = "btn btn-danger btn-sm"
    })
</div>