@model BankDeposits.Mvc.Models.Deposit

@using (Html.BeginForm("DeleteConfirmed", "Deposit", FormMethod.Post))
{
   <h4>Are you sure you want to delete this?</h4> 
    
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="hidden" name="id" value="@Model.Id"/>
        <input type="submit" value="Delete" class="btn btn-primary"/>
        @Html.ActionLink("Back to List", "Index")
    </div>
}